@page
@using Shark.Sample.AuthorizationServer.Pages
@model LoginModel
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Shark OAuth Authorization Server</h2>
        <p class="login-subtitle">Client id is <span>@Model.ClientId</span></p>

        <div class="login-form">
            <form method="post">
                <div class="login-form-group">
                    @Html.LabelFor(m => @Model.UserName, "Name", new { @class = "login-label" })
                    @Html.TextBoxFor(m => @Model.UserName,
                        new { @class = "login-input", placeholder = "Enter your name", required = "required" })
                </div>

                <div class="login-scopes">
                    <div class="login-scopes-title">Select scopes:</div>
                    <div class="login-checkbox-container">
                        @{
                            var select = @Model.Scopes;
                            if (select != null && select.ToList().Count > 0)
                            {
                                foreach (var item in select.ToList())
                                {
                                    <label class="login-checkbox-label">
                                        <input type="checkbox" class="login-checkbox" name="selectedScopes" value="@item" @(Html.Raw(true ? "checked=\"checked\"" : "")) />
                                        <span>@item</span>
                                    </label>
                                }
                            }
                        }
                    </div>
                </div>

                <input type="submit" value="Login" class="login-button" />
            </form>
        </div>
    </div>
</div>
