@page
@model LoginModel
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="text-center">
    <h1 class="display-4">OAuth Authorization Server</h1>
    <p>Client id is <span>@Model.ClientId</span></p>

    <form method="post">
        <div class="form-group">
            @Html.LabelFor(m => @Model.UserName, "Name")
            @Html.TextBoxFor(m =>
                     @Model.UserName,
                     new { @class = "form-input", placeholder = "Enter your name", required = "required" })
        </div>

        <br />

        <div class="form-group">
            Select scopes:
            @{
                var select = @Model.Scopes;
                if (select != null && select.ToList().Count > 0)
                {
                    foreach (var item in select.ToList())
                    {
                        <label>
                            <input type="checkbox" name="selectedScopes" value="@item" @(Html.Raw(true ? "checked=\"checked\"" : "")) /> @item
                        </label>
                    }
                }
            }
        </div>

        <br />

        <input type="submit" value="Login" />
    </form>
</div>
